.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    border-collapse: collapse;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border: 1px solid black;
  }
  
  .input-row {
    display: flex;
    
  }
  
  .label {
    width: 20%;
    background: white;
    color: black;
    padding: 10px;
  }
  
  .text-input {
    width: 60%;
    padding: 10px;
  }
  
  .text-input::placeholder {
    color: gray;
  }
  
  .select-btn {
    margin-left: 10px;
    background: black;
    height: 80%;
    font-size: 12px;
    color: white;
    margin-top: 5px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  
  .select-btn:hover {
    background: #0000FF;
    cursor: pointer;
  }
  